/* Lists of stories */

.stories-list {
  margin: 20px 5px;
}

.stories-list > li {
  color: gray;
  font-size: 0.8rem;
  margin: 10px 0;
  border-bottom: 1px solid rgb(205, 204, 204);
}

#stories-loading-msg {
  font-weight: bold;
  font-size: 150%;
  margin: 20px 30px;
}


/* Individual stories */

.story-link {
  color: black;
  font-size: 0.85rem;
  font-weight: normal;
  margin: 18px 0;
}

.story-link:hover {
  text-decoration: none;
}

.story-author {
  margin-left: 1.5em;
  color: green;
  display: flex;
  font-size: 14px;
  padding: 5px;
}

.story-user {
  display: block;
  color: orange;
  font-size: 14px;
  margin-left: 1.5em;
  padding: 5px;
}
